.product {
  display: flex;
  flex-direction: column;
  background: #d8d8d8;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.product__close-wrapper {
  text-align: right;
}

.product__close-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 2em;
}

.product__name-input {
  width: 350px;
  max-width: 95%;
  background-color: #e6e6e6;
  color: black;
}

.product__types {
  margin-bottom: 10px;
  text-align: center;
}

.product__type {
  margin-top: 10px;
  text-align: center;
}

.product__parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.product__parameter {
  margin: 0 10px 5px 0;
}

.product__option:not(:last-of-type) {
  margin-bottom: 15px;
}

.product__comment-area {
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
  vertical-align: top;
}
