.labelled-input__label {
  width: fit-content;
  max-width: 100%;
  display: block;
}

.labelled-input__label--centered {
  margin: 0 auto;
  text-align: center;
}

.labelled-input__input {
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
  margin-left: 10px;
}

.labelled-input__input[type='number'] {
  width: 90px;
}

.labelled-input__input--invalid {
  border: 2px solid red;
}
